<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/libs/ctxmenu.js"></script>
    <link href="/files.css" rel="stylesheet" >
    <link href="/libs/ctxmenu.css" rel="stylesheet" >
</head>
<body>
    
    <div class="uploader">
       <button id="btnFile" class="btn btn-default" class"btn">Show files</button>
    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>FILES</h2>
            </div>
            <div class="control-panel">
                <div class="action-panel d-flex">
                    <button class="btn btn-medium mr5">
                        <img src="/ico-newfolder.svg"/>
                        <span>New Folder</span>
                    </button>
                    <button class="btn btn-medium mr5">
                        <img src="/ico-upload.svg"/>
                        <span>Upload</span>
                    </button>
                    
                    <div class="flex-grow-1"></div>
                    <button class="ico-btn icon-list active"></button>
                    <button class="ico-btn icon-grid"></button>
                </div>
                
                <div class="files-searcher">
                    <input type="text" value='' />
                    <button class="btn-search"></button>
                </div>
                
                <div class="file-path-wrapper">
                    <ul class="file-path-breadcrumb">
                        <li><a href="#">My Files</a></li>
                        <li><a href="#">Icons</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li>Italy</li>
                      </ul>
                </div>
                
            </div>
            <div class="modal-body">
                <div class="files-section">
                    <div class="files-section__header">
                        <div class="content-header">
                            <div class="dropdown">
                                <button class="dropbtn">All Content</button>
                                <div class="dropdown-content">
                                    <a class="black bold" onclick="abc()">All Content <span class="badge">2</span></a>
                                    <hr>
                                    <a class="bullet-green" onclick="abc()">Contacts</a>
                                    <a class="bullet-yellow" onclick="abc()">Incoming Shares <span class="badge">5</span></a>
                                    <a class="bullet-orange" onclick="abc()">Payment <span class="badge">1</span></a>
                                    <a class="bullet-red" onclick="abc()">Takedown</a>
                                </div>
                            </div>
                           
                        </div>
                        <div class="owner-header">
                            <div class="dropdown">
                                <button class="dropbtn">Owner <span class="badge">12</span></button>
                                <!-- <div class="dropdown-content">
                                    <a onclick="abc()">Rooban</a>
                                    <a onclick="abc()">Robert<span class="badge">5</span></a>
                                    <a onclick="abc()">John Doe <span class="badge">1</span></a>
                                    <a onclick="abc()">Smith Arg</a>
                                </div> -->
                            </div>
                        </div>
                        <div class="access-header">Access</div>
                    </div>
                    <div class="files-section__list-view">
                        <div class="scrollbox-content">
                            <!-- <div id="CustomContextMenu" style="background:#6cc9d8;width:300px;height:50px;">
                                <p>This div has a special context menu</p>
                            </div> -->
                            <ul class="files-list">
                                <li>
                                    <a class="file-item CustomContextMenu" id="file1" href="#">
                                          <div class="file-item__content">
                                              <img class="file-item__icon" src="./ico-pdf.svg" />
                                              <span class="file-item__name">Global-Peace Index My file Name.pdf</span>
                                              <span class="file-item__date">2020-12-16</span>
                                            </div>  
                                          <div class="file-item__owner">Honey Meada</div> 
                                          <div class="file-item__access"></div> 
                                    </a>     
                                </li>
                                <li>
                                    <a class="file-item CustomContextMenu" id="file2" href="#">
                                          <div class="file-item__content">
                                              <img class="file-item__icon" src="./ico-folder.svg" />
                                              <span class="file-item__name">Invoice Collections</span>
                                              <span class="file-item__date">2020-12-16</span>
                                            </div>  
                                          <div class="file-item__owner">Pathmarooban Nadarajah</div> 
                                          <div class="file-item__access">Full access</div> 
                                    </a>     
                                </li>
                                <li>
                                    <a class="file-item CustomContextMenu" id="file3" href="#">
                                          <div class="file-item__content">
                                              <img class="file-item__icon" src="./ico-pdf.svg" />
                                              <span class="file-item__name">Sotirea-sianlaisen.pdf</span>
                                              <span class="file-item__date">2020-12-16</span>
                                            </div>  
                                          <div class="file-item__owner">Honey Meada</div> 
                                          <div class="file-item__access"></div> 
                                    </a>     
                                </li>
                                <li>
                                    <a class="file-item CustomContextMenu" id="file4" href="#">
                                          <div class="file-item__content">
                                              <img class="file-item__icon" src="./ico-pdf.svg" />
                                              <span class="file-item__name">Lorem-ipsumdolor-sitamet-consectetur-adipiscing.pdf</span>
                                              <span class="file-item__date">2020-12-16</span>
                                            </div>  
                                          <div class="file-item__owner">Honey Meada</div> 
                                          <div class="file-item__access"></div> 
                                    </a>     
                                </li>
                                <li>
                                    <a class="file-item CustomContextMenu" id="file5" href="#">
                                          <div class="file-item__content">
                                              <img class="file-item__icon" src="./ico-folder.svg" />
                                              <span class="file-item__name">Excepteur sint</span>
                                              <span class="file-item__date">2020-12-16</span>
                                            </div>  
                                          <div class="file-item__owner">Honey Meada</div> 
                                          <div class="file-item__access"></div> 
                                    </a>     
                                </li>
                                <li>
                                    <a class="file-item CustomContextMenu" id="file6" href="#">
                                          <div class="file-item__content">
                                              <img class="file-item__icon" src="./ico-folder.svg" />
                                              <span class="file-item__name">quis nostrud exercitation</span>
                                              <span class="file-item__date">2020-12-16</span>
                                            </div>  
                                          <div class="file-item__owner">Honey Meada</div> 
                                          <div class="file-item__access"></div> 
                                    </a>     
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default mr15">Cancel</button>
                <button class="btn btn-success">Copy to this folder</button>
            </div>
        </div>
    
    </div>
    <script src="/files.js"></script>

</body>
</html>