@import url("style.css");
body{
    background: #CDCDCD;
}

.uploader {
    display: flex;
    width: auto;
    height: auto;
    max-width: auto;
    max-height: auto;
    background-color: #505050;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 2px #383838;
    padding:100px;
}



.ico-btn {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-size: auto;
    border:0;
    background-color:transparent;
    cursor: pointer;
  }

[class^="ico-btn"].active {
    background-color: #000;
    /* filter: invert(0%) sepia(99%) saturate(7479%) hue-rotate(41deg) brightness(108%) contrast(87%); */
    /* background-color: #ea2e2e; */
}
.icon-grid {
    background-color: #bfbfbf;
    -webkit-mask:  url(./ico-grid.svg) no-repeat 50% 50%;
    mask: url(./ico-grid.svg) no-repeat 50% 50%;

}
.icon-list {
    background-color: #bfbfbf;
    -webkit-mask:  url(./ico-list.svg) no-repeat 50% 50%;
    mask: url(./ico-list.svg) no-repeat 50% 50%;
}

.icon-list:hover,
.icon-list:focus,
.icon-grid:hover,
.icon-grid:focus {
    background-color:#EFC4C5;
}


  
  
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
/* Modal Content */
.modal-content {
    display:flex;
    flex-direction:column;
    border-radius:24px;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 540px;
    max-height: 630px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 100%;
    height: 100%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 32px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
    .modal-header {
        padding: 10px 19px 8px 34px;
    }

  .modal-header h2 {
    font-weight:600;
    color:#333333;
  }
  
  /* Modal Body */
  .modal-body {
    padding: 2px 16px;
    flex-grow:1;
  }
  
  /* Modal Footer */
  .modal-footer {
    padding: 0 32px 32px 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* height: 96px; */
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1}
  }

  .control-panel{
      padding: 0 32px;
  }

  .ttonwrapper {
    display: inline-block;
  }
  

  .files-searcher {
    position: relative;
    margin: 10px 0 0px;
  }

  .files-searcher input {
    background-color: transparent;
    border: 2px solid black;
    box-sizing: border-box;
    height: 34px;
    width: 100%;
    padding: 0 32px 0 10px;
    border: 1px solid rgba(0,0,0,0.07);
    border-radius: 16px;
    background-color: rgba(0,0,0,0.01);
  }

  .files-searcher .btn-search {
    position: absolute;
    background-color: #ffffff;
    right: 5px;
    top: 4px;
    border: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
    cursor: pointer;
    padding: 0px;
    box-shadow: 0px 2px 2px #e2e2e2;
  }

  .files-searcher .btn-search::before{
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      left: 3px;
      top: 3px;
      background-color: #7D7D7D;
      -webkit-mask:  url(./ico-search.svg) no-repeat 50% 50%;
      mask: url(./ico-search..svg) no-repeat 50% 50%;
  }

  .files-searcher .btn-search:hover {
      background-color:#EFC4C5;
      border: 1px solid #EFC4C5;
  }

  .files-searcher .btn-search:hover::before {
    background-color: #fff;
  }


  .file-path-wrapper {

  }

  ul.file-path-breadcrumb {
    padding: 8px 0 4px 0;
    list-style: none;
    background-color: #fff;
  }
  
  /* Display list items side by side */
  ul.file-path-breadcrumb li {
    display: inline-block;
    font-size: 13px;
    color: #999999;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.file-path-breadcrumb li+li:before {
    position: relative;
    padding: 0 6px;
    color: #999999;
    content: "\203A";
    font-size: 26px;
    line-height: 0;
    /* margin-top: 14px; */
    top: 3px;
  }
  
  /* Add a color to all links inside the list */
  ul.file-path-breadcrumb li a {
    color: #999999;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.file-path-breadcrumb li a:hover {
    /* text-decoration: underline; */
  }

  .files-section {
      display: flex;
      flex-direction: column;
      height: 100%;
  }

  .files-section__header {
    display: flex;
    position: relative;
    padding: 5px 15px 5px;
    color: #999999;
    font-size: 14px;
  }

.content-header {
    width: 51%;
    min-width: 224px;
    padding-right: 20px;
    /* padding-left: 18px; */
}

.owner-header {
    width: 31%;
    min-width: 126px;
    padding-right: 20px;
}

.access-header {
    width: 18%;
    flex-grow: 1;
}

.files-section__list-view {
    height: 290px;
    overflow: auto;
    visibility: hidden;
}

.scrollbox-content {
    visibility: visible;  
}

.files-section__list-view:hover,
.files-section__list-view:focus {
  visibility: visible;
  box-shadow: inset 0px 11px 8px -10px #f0f0f0, inset 0px -11px 8px -10px #f0f0f0;
}

.scrollbox_delayed {
  transition: visibility 0.2s;
}
.scrollbox_delayed:hover {
  transition: visibility 0s 0.2s;
}

ul.files-list {margin: 0;padding: 0;list-style: none;}

ul.files-list li {
    border-bottom: 1px solid #F2F2F2;
}

ul.files-list li a {
    padding: 10px;
    text-decoration: none;
    height: 56px;
    color: #333333;
    font-size: 14px;
    /* background-color: #f5f5f5; */
}

ul.files-list li a:hover {
    background-color: #FAFAFA;
}

ul.files-list li a:focus {
    color:#fff;
    background-color: #3C434D;
}

ul.files-list li a:active {
    color: #333333;
    background-color: #F0F0F0;
    
}

.file-item {
    display: flex;
    position: relative;
}

.file-item__content {
    width: 60%;
    min-width: 224px;
    padding-right: 20px;
    
}

.file-item__icon {
    position: absolute;
    top: 5px;
    left: 8px;
}

.file-item__name {
    margin-left: 56px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.file-item__date {
    color: #999999;
    margin-left: 56px;
    font-size: 13px;
}

.file-item__owner {
    width: 22%;
    min-width: 126px;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
}

.file-item__access {
    flex-grow: 1;
    min-width: 88px;
    
}