@font-face {
    font-family: SourceSansPro-Bold;
    src: url('./fonts/SourceSansPro-Bold.otf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('./fonts/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('./fonts/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url('./fonts/SourceSansPro-Light.otf');
}

*{
    box-sizing: border-box;
}
html,body{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'SourceSansPro-Regular';
    background: #3F3F3F;
    font: normal normal 14px Open Sans,Verdana, Arial;
}

input[type="file"] {display: none;}
.w40 { width: 38% !important;}
.w60 { width: 60% !important;}
.mr5 {margin-right: 5px !important;}
.mr15 {margin-right: 15px !important;}
.mt5 {margin-top: 5px !important;}
.mb5 {margin-bottom: 5px !important;}
.ml5 {margin-left: 5px !important;}
hr {border : 1px solid #E5E5E5;}
.hr-dark {border : 1px solid #4C4C4C;}
.black {color: #000 !important;}
.bold {font-weight: 600 !important;}

.ellipsis:before {
  float: right;
  content: attr(data-tail);
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.d-flex {
    display: flex !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.btn {
    border: 1px solid #ccc;
    display: block;
    padding: 0px 6px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FCFCFC;
    font-size: 14px;
    text-align: center;
    outline:none;
    color: #333333;
    line-height: 34px;
    outline:none;
}

.btn:hover {
  background-color: #f7f7f7;
}

.btn-medium {
  height: 30px;
  line-height: 14px;
}

.btn-large {
  height: 34px;
}

.btn > img,
.btn > span {
  vertical-align: middle;
  height: 22px;
}
.btn-default {
    color: #333333;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    padding: 0px 12px;
}

.btn-default:hover {
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.15);
}

.btn-default:focus {
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F3F3F3 100%);
    box-shadow: none;
}

.btn-default:disabled {
    border: 1px solid rgba(0,0,0,0.01);
    border-radius: 4px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02);
}

.btn-success {
    color: #fff;
    border: 1px solid #009985;
    border-radius: 4px;
    background: linear-gradient(180deg, #00BFA5 0%, #00A690 100%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    padding: 0px 12px;
}

.btn-success:hover {
    border: 1px solid rgba(6,107,93,0.1);
    border-radius: 4px;
    background: linear-gradient(180deg, #00B6AA 0%, #009883 100%);
    box-shadow: 0 0 0 4px rgba(0,191,165,0.2);
}

.btn-success:focus {
    border: 1px solid rgba(1,119,103,0.1);
    border-radius: 4px;
    background: linear-gradient(180deg, #019E94 0%, #008371 100%);
    box-shadow: none;
}

.btn-success:disabled {
    border: 1px solid rgba(0,121,105,0.1);
    border-radius: 4px;
    background: linear-gradient(180deg, #00B6AA 0%, #009883 100%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}


.dropbtn {
  color: #999999;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.dropbtn > .badge {
  background-color: #3C434D;
  color: #fff;
  font-size: 11px;
  display: inline-block;
  padding: 4px 6px;
  font-weight: lighter;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.5rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropbtn::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .655em;
  vertical-align: .155em;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 190px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
  padding: 12px;
  border-radius: 4px;
  z-index: 1;
}

.dropdown-content hr {
  border: .5px solid #f1f1f1;
}

.dropdown-content a {
  position: relative;
  color: #999999;
  padding: 0px 22px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  height: 32px;
  vertical-align: middle;
  line-height: 32px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .badge {
  position: absolute;
  right: 4px;
  top: 9px;
  background-color: #FF333A;
  color: #fff;
  font-size: 11px;
  display: inline-block;
  padding: 2px 4px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown-content a::before {
  position: absolute;
  top: 12px;
  left: 5px;
  border-radius:100%;
  content:'';
  width:6px;
  height:6px;
  display:inline-block;
}

a.bullet-green::before{
  background: #1CB5A0;
}

a.bullet-red::before{
  background: #D64446;
}

a.bullet-yellow::before{
  background: #F2C249;
}

a.bullet-orange::before{
  background: #FFA502;
}
